@model MPA_Project_Juca_Oana.Models.ViewModels.CityIndexData

@{
    ViewData["Title"] = "Cities";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>City Name</th>
            <th>Stadiums</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.City) {
            
                string selectedRow = "";
                if (item.ID == (int?)ViewData["CityID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>

                    <td>
                        @{
                            foreach (var stadium in item.StadiumByCity)
                            {
                                @stadium.Stadium.ID @: @stadium.Stadium.Name <br />
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            

}
    </tbody>
</table>
@if (Model.Stadiums != null)
{
    <h3>Stadium Tours by Selected City</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Country</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Stadiums) 
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["StadiumsID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { stadiumsID = item.ID })
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
    @if (Model.Orders != null)
    {
        <h3> Customers that bought the Selected Tours</h3>
        <table class="table">
            <tr>
                <th> Name</th>
                <th> Adress</th>
                <th> Birth Date</th>
            </tr>
            @foreach (var item in Model.Orders)
            {
                string selectedRow = "";
                if (item.StadiumID == (int?)ViewData["StadiumID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @item.Customers.Name
                    </td>
                    <td>
                        @item.Customers.Adress
                    </td>
                    <td>
                        @item.Customers.BirthDate
                    </td>
                </tr>
            }
        </table>
    }
}